
.habits_scorecard_container{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 50;

}
.habits_scorecard_atomic{

    font-size: 80px;
}

body{
    min-height: 100vh;
    font-size: 16px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.habits_scorecard_title{
    font-size: 60px;
    background-color: black;
    color: white;
    margin-bottom: 30px;
}
.routine-element{
    
    border-radius: 7px;
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    border-style: inset;
}

.routine-elements{
    z-index: 50;
    text-align: left;
    display: grid;
    grid-template-columns: 80% 20%;
}

.scorecard-button{
    box-shadow: 3px 3px 2px #1a1919;
    border:1px solid;
    padding:6.5px 10px ;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
}

.scorecard-button-plus{
    position: relative;
    border:1px solid;
    padding:6.5px 10px ;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background-color: green;
}

.scorecard-button-grid{
    padding: 0px 5px;
    margin-bottom: 13px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:5px;
    align-items: center;
}


.scorecard-button-description-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:5px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    font-weight: bold;
    color: white;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    font-size: px;
}

.scorecard-thehabit{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    color:white;
    margin-bottom: 10px;
    border-top-left-radius: 10px;

}

.Scorecard-button-add{
    border:0px ;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
}

.container-button-add{
    display: flex;
    justify-content: center;

}

.Scorecard-button-add:hover{
    transform: scale(1.3);
    transition: 0.2s;
}

.Scorecard-button-add:active{
    transform:skew(5deg , 5deg);
}

.positive{
    background-color: #044c33;
}

.negative{
    background-color: #4c0f04;
}

.neutral{
    background-color: #04414c;
}

.delete-button{
    position:absolute;
    right: 3%;
    border:1px solid;
    padding:6.5px 10px ;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0.5px 4px #1a1919;
}

.delete-button:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }

  .scorecard-Donebutton{
    position: absolute;
    right: 12%;
    border:1px solid;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 15px;
  }



  .button-Done {
    position: absolute;
    right: 10%;
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }


  .Profil_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55%;
    position: absolute;
    top: 0px;
    z-index: -10;
}