.Pagetitle{
    font-size: 60px;
    text-align: center;
}
.todays-task{
    font-size: 40px;
    width: 70%;
}

.daily-task{

    font-size:16px;
    border: solid 1px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.goalmap-checkbox{
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 60%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goalmap-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

}

.goalmap-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .goalmap-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

.goalmap-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.custom-checkbox input{
    display:none;
}

.GoalColor{
    display: block;
    width: 60%;
    height: 2px;
    background-color: #2196F3;
}

.task-description{
    display: inline;
}

