.modifying-modal{
    background-color: #fff;
    position:fixed;
    top:30%;
    left: 30%;
    height: 400px;
    width: 700px;
    z-index: 100;
}

.screenblock-modal{
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(136, 132, 132, 0.4);
}

.modifying-modal-close{
    position:relative;
    height: 35px;
    width: 70px;
    margin-left: 100px;
}

.modifying-modal-submit{
    position:relative;
    margin-left: 40px;
    height: 35px;
    width: 70px;
}

.modifying-modalTitle{

}

input[type=text],select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modifying-modalTitleLabel{
    display:block;
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}

.modifying-modalTitle{
    display:block;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.modifying-modalDateLabel{
    display: block;
    margin-left: 15px;
    font-size: 20px;
}

.modifying-modalDate{
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 5px;
}


.modifying-modalDescription{
    display:block;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 15px;
    resize:none;
    margin-bottom: 5px;

}

.modifying-modalStartinghour{
    width: 50px;
}

.modifying-modalStartinghourslash{
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.modifying-modalEndinghour{
    width: 50px;
}

.modifying-modalPriorityLabel{
    margin-left: 15px;
    font-size: 20px;
}

.modifying-modalPriority{
    margin-left: 15px;
    margin-bottom: 5px;
}

.modifying-modalGoalLabel{
    display:block;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}

.modifying-modalGoal{
    display: inline;
    width: 300px;
    margin-left: 15px;
}

.modifying-modalPriority{
    display: block;
}