
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.hello{
    background-color: aliceblue;
    height: 100%;  
}

.Profil-component{
    position: absolute;
}

html, body, #app, #app>div {
  height: 100%
}